<!DOCTYPE html>
<html lang="en">
<body>
<div class="container">
    <div class="col-6">
        <label><b>채팅방</b></label>
    </div>
    <div>
        <div id="msgArea" class="col"></div>
        <div class="col-6">
            <div class="input-group mb-3">
                <input type="text" id="msg" class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="button-send">전송</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Assuming the username is passed as a model attribute -->
<div id="username" data-username="${username}" style="display:none;"></div>
<script src="/js/chat.js"></script>
</body>
</html>
